<audio autoplay>
	<source src="audio/cancer.mp3" type="audio/mpeg">
</audio>
<div class="enterPage">
	<div class="container hidden-xs">
		<div class="enterContent">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/ChuckFuck.png" class="pictureCenter">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/ChuckMeInTheAss.jpg" class="pictureCenter">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/CuckedAgain.jpg" class="pictureCenter">
				</div>
			</div>
			<div class="row pictureRow">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/DouglettUsesDig.jpg" class="pictureCenter">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/chuckGif.gif" class="pictureCenter">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/ToungeInTheChuckHole.jpg" class="pictureCenter">
				</div>
			</div>
			<div class="row pictureRow">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/UpChuck.jpg" class="pictureCenter">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/YiffChuck.jpg" class="pictureCenter">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<img src="images/FeetDick.jpg" class="pictureCenter">
				</div>
			</div>
		</div>
	</div>
	<div class="container visible-xs">
		<div class="enterContent">
			<div class="">
				<img src="images/chuckGif.gif" class="pictureCenter">
			</div>
			<div class="pictureRow">
				<img src="images/ChuckFuck.png" class="pictureCenter">
			</div>
			<div class="pictureRow">
				<img src="images/CuckedAgain.jpg" class="pictureCenter">
			</div>
			<div class="pictureRow">
				<img src="images/ChuckMeInTheAss.jpg" class="pictureCenter">
			</div>
			<div class="pictureRow">
				<img src="images/DouglettUsesDig.jpg" class="pictureCenter">
			</div>
			<div class="pictureRow">
				<img src="images/ToungeInTheChuckHole.jpg" class="pictureCenter">
			</div>
			<div class="pictureRow">
				<img src="images/UpChuck.jpg" class="pictureCenter">
			</div>
			<div class="pictureRow">
				<img src="images/YiffChuck.jpg" class="pictureCenter">
			</div>
			<div class="pictureRow row-bottom">
				<img src="images/FeetDick.jpg" class="pictureCenter">
			</div>
		</div>
	</div>
</div>