<div class="wholePage hidden-xs">
	<div class="container">
		<div class="headerBar">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<img src="images/deadMinion.png" class="headerPictures">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 titleBlock">
				<div class="titleText">Swag Daddys' Domain</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<img src="images/deadDouglett.png" class="headerPictures">
			</div>
		</div>
		<div class="contentBlock">
			<div class="col-lg-offset-3 col-lg-6  titleBlock">
				<div class="warText"><u>Bush Reee Has Declared War!</u></div>
				<div class="subWarText">The following memers are wanted for crimes against the state:</div>
			</div>
			<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-3 col-sm-3 wantedPicturesPadding">
				<img src="images/theCuck.jpg" class="wantedPictures">
				<div class="wantedSubText">The Cuck: wanted for conspiring against the state and for inacting unlawful practices</div>
			</div>
			<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-3 col-sm-3 wantedPicturesPadding">
				<img src="images/shinobi.jpg" class="wantedPictures">
				<div class="wantedSubText">Sam Kun: wanted for attempted genoicde against memes, Runescape, and attempted over throw of the state</div>
			</div>
			<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-3 col-sm-3 wantedPicturesPadding">
				<img src="images/theDarkLord.jpg" class="wantedPictures">
				<div class="wantedSubText">The Dark Lord: wanted for conspiring with Sam Kun, harboring a know fugitive</div>
			</div>
		</div>
	</div>
</div>

<!-- This is for mobile views -->
<div class="wholePage visible-xs">
	<div class="container">
		<div class="headerBar">
			<div class="col-xs-3">
				<img src="images/deadMinion.png" class="headerPictures">
			</div>
			<div class="col-xs-6 titleBlock">
				<div class="titleText">Swag Daddys' Domain</div>
			</div>
			<div class="col-xs-3">
				<img src="images/deadDouglett.png" class="headerPictures">
			</div>
		</div>
		<div class="contentBlock">
			<div class="titleBlock">
				<div class="warText"><u>Bush Reee Has Declared War!</u></div>
				<div class="subWarText">The following memers are wanted for crimes against the state:</div>
			</div>
			<div class="col-xs-offset-3 col-xs-3 wantedPicturesPadding">
				<img src="images/theCuck.jpg" class="wantedPictures">
				<div class="wantedSubText">The Cuck: wanted for conspiring against the state and for inacting unlawful practices</div>
			</div>
			<div class="col-xs-offset-3 col-xs-3 wantedPicturesPadding">
				<img src="images/shinobi.jpg" class="wantedPictures">
				<div class="wantedSubText">Sam Kun: wanted for attempted genoicde against memes, Runescape, and attempted over throw of the state</div>
			</div>
			<div class="col-xs-offset-3 col-xs-3 wantedPicturesPadding">
				<img src="images/theDarkLord.jpg" class="wantedPictures">
				<div class="wantedSubText">The Dark Lord: wanted for conspiring with Sam Kun, harboring a know fugitive</div>
			</div>
		</div>
	</div>
</div>