<div class="wholePage">
	<div class="container">
		<div class="headerBar">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<img src="images/minion.png" class="minion">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 titleBlock">
				<div class="titleText">Welcome To Douglett</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<img src="images/douglett.png" class="douglett">
			</div>
		</div>
		<div class="contentBlock">
			<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 chuckFaceDiv">
				<a href="/enter">
					<img src="images/chuckFace.png" class="chuckFace">
				</a>
			</div>
			<div class="clickToEnterDiv">
				<div class="clickToEnterText">Click To Enter</div>
			</div>
		</div>
	</div>
</div>
